<html>
    <head>
        
    </head>

    <body>
        <h1>Base</h1>
        <a href="/register">register</a><br>
        <a href="/login">login</a><br>
        <a href="/dashboard">dashboard</a><br>
        <a href="/base">base</a><br>
        <a href="/index">Index</a><br>
    </body>
</html>